<!doctype html>
<html>
  <head>
    <title>Search results <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <h2>Results found:</h2>
    <ul>
      <!-- For loop iterates through availableBooks array -->
      <% for (let i = 0; i < availableBooks.length; i++) { %>
        <!-- Display name and price of books as list items on page -->
        <li><%= availableBooks[i].name + ", £" + availableBooks[i].price %></li>
      <% } %>
    </ul>
  </body>
</html>