<!doctype html>
<html>
  <head>
    <title>Search <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <h2>What book do you want?</h2>
    <form action="/search-result" method="GET">
      <p>Strict Search</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
    <form action="/advanced-search-result" method="GET">
      <p>Advanced Search</p>
      <input id="search-box" type="text" name="advKeyword" value="Default">
      <input type="submit" value="Advanced Search" >
    </form>
  </body>
</html>